In [1]:
#Reverse a String: Write a function that takes a string as input and returns the reverse of that string.
def reverse(s):
    return s[-1::-1]
s = input("Enter string : ")
rs = reverse(s)
print("Reversed string : ",rs)

Enter string : india
Reversed string :  aidni

In [8]:
#Count Vowels: Write a function that takes a string as input and returns the 
#number of vowels (a, e, i, o, u) in the string.
v = ["a","e","i","o","u","A","E","I","O","U"]
def function(s):
    ts = set()
    for i in s:
        if i in v:
            ts.update(i)
    return ts
s = input("Enter string : ")
rs = function(s)
print("Vowels in string : ",rs)

Enter string : i am ganesh patil
Vowels in string :  {'e', 'a', 'i'}

In [10]:
#Palindrome Check: Write a function that checks if a given string is a palindrome 
#(reads the same forwards and backwards).
#Reverse a String: Write a function that takes a string as input and returns the reverse of that string.
def reverse(s):
    return s[-1::-1]
s = input("Enter string : ")
rs = reverse(s)
print("Reversed string : ",rs)

if s == rs:
    print("Pallindrome")
else:
    print("Not pallindrome")

Enter string : madam
Reversed string :  madam
Pallindrome

In [8]:
#Anagrams Check: Write a function that checks if two strings are anagrams 
#(contain the same characters in any order).
L1 = list()
L2 = list()
def anagram(s1,s2):
    for a in s1:
        L1.append(a)
    for b in s2:
        L2.append(b)
    for i in L1:
        if i in L2:
            L1.remove(i)
            L2.remove(i)
    for i in L2:
        if i in L1:
            L1.remove(i)
            L2.remove(i)
    print(L1)
    print(L2)
    if L1==L2:
        print("Anagram")
    else:
        print("Not anagram")
s1 = input("Enter string : ")
s2 = input("Enter string : ")

anagram(s1,s2)

Enter string : silent
Enter string : listen
['t']
['t']
Anagram

In [2]:
a = list()
b = list()
print(a==b)

True

In [18]:
#Unique Characters: Write a function that takes a string as input and checks if all characters
#in the string are unique (no repeated characters).
def check(s):
    ts = set()
    for i in s:
        if i in ts:
            return False
        ts.add(i)
    return True
s = input("Enter string : ")
t = check(s)
if t == True:
    print("No repeat")
else:
    print("Repeat")

Enter string : abcd
No repeat

In [22]:
L = ["11","22","33"]
s = "-".join(L)
print(type(s))

<class 'str'>

In [23]:
#Sum of Elements: Write a function that takes a list of numbers 
#as input and returns the sum of all elements in the list.
def add(L):
    ans = 0
    for i in L:
        ans+=i
    return ans
    
L = eval(input("Enter list : "))
ans = add(L)
print("Sum : ",ans)

Enter list : [1,2,3]
Sum :  6

In [24]:
#List Reversal: Write a function that takes a list as 
#input and returns a new list with the elements reversed.
def reverse(L):
    return L[-1::-1]
L = eval(input("Enter list : "))
ans = reverse(L)
print(ans)

Enter list : [1,3,4]
[4, 3, 1]

In [27]:
#Even Numbers: Write a function that takes a list of numbers as input and returns a
#new list containing only the even numbers from the original list.
L = list(range(1,30))
print(L)
SL = [i for i in L if i%2==0]
print(SL)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [28]:
#List Concatenation: Write a function that takes two lists as input and returns a
#new list that is the concatenation of the two input lists.

L1 = list(range(1,6))
L2 = list(range(7,13))
L = L1+L2
print(L)

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12]

In [39]:
#Remove Duplicates: Write a function that takes a list as input and returns a new list
#with duplicates removed, preserving the original order.
def remove_duplicates(input_list):
    seen = {}
    result = []

    for item in input_list:
        if item not in seen:
            seen[item] = True
            result.append(item)
    return result

# Test the function
input_list = [1, 2, 3, 2, 4, 5, 3, 6, 7, 7, 8]
unique_list = remove_duplicates(input_list)
print(unique_list)

{1: True, 2: True, 3: True, 4: True, 5: True, 6: True, 7: True, 8: True}
[1, 2, 3, 4, 5, 6, 7, 8]

In [40]:
#Write a function called calculate_power that takes two positional arguments, base and exponent, and returns the 
#result of base raised to the power of exponent.

def fun(a,b):
    return a**b
print(fun(2,3))

8

In [12]:
#Write a function called find_max that takes a variable number of arguments and 
#returns the largest value among them.
def fun(*a):
    ans = a[0]
    for i in a:
        if i > ans:
            ans = i
    return ans
a = 1
b= 2
print(fun(a,b))

2

In [16]:
#Write a function called print_contacts that takes a variable number of keyword arguments representing contact 
#information (name, phone, email) and prints each contact's details.
def fun(**a):
    print(a)
    
fun(a=2,b=5)

{'a': 2, 'b': 5}

In [17]:
def print_contacts(**kwargs):
    for name, contact_info in kwargs.items():
        print(f"Name: {name}")
        if 'phone' in contact_info:
            print(f"Phone: {contact_info['phone']}")
        if 'email' in contact_info:
            print(f"Email: {contact_info['email']}")
        print()

# Test the function
print_contacts(
    John={'phone': '123-456-7890', 'email': 'john@example.com'},
    Jane={'phone': '987-654-3210'},
    Sam={'email': 'sam@example.com'},
)

Name: John
Phone: 123-456-7890
Email: john@example.com

Name: Jane
Phone: 987-654-3210

Name: Sam
Email: sam@example.com

In [28]:
#Write a function called average that takes any number of arguments and returns the 
#average of those numbers. Use packing and unpacking techniques.
def average(*a):
    return sum(a)//len(a)

ans = average(1,2,3,4,5,6,7)
print(ans)

4

In [1]:
a = int(input("Enter no : "))
s = lambda a:a*a
print(s(a))

Enter no : 4
16

In [5]:
#Find Even Numbers: Write a lambda function that takes a list of numbers as 
#input and returns a new list containing only the even numbers.
even = lambda i:i%2==0
odd = lambda i:i%2
L = [i for i in range(1,31) if odd(i)]
print(L)
L = [i for i in range(1,31) if even(i)]
print(L)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [11]:
#even nos

L = list(filter(lambda i:i%2==0, range(1,40)))
print(L)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [12]:
#odd nos

L = list(filter(lambda i:i%2, range(1,40)))
print(L)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [13]:
#Write a Python program that takes a list of integers as input and uses the filter function with a lambda 
#function to filter and print only the positive numbers from the list.
SL = [-3, 2, 0, 8, -5, 10, -1, 7, 4, -9]
L = list(filter(lambda i:i>0,SL))
print(L)

[2, 8, 10, 7, 4]

In [32]:
#Write a Python program that takes a list of words as input and uses the filter function with a lambda function
#to filter and print only the palindromic words from the list.
def pallindrome(a):
    if a[::]==a[-1::-1]:
        return a
LW = ["level", "Python", "radar", "program", "deified", "hello", "madam", "world"]
j = 0
L = list(filter(lambda i:pallindrome(i),LW))
print(L)

['level', 'radar', 'deified', 'madam']

In [25]:
ans = lambda i:i=="abc"
print(ans("abc"))

True

In [36]:
#Write a Python program that takes a list of words as input and uses the filter function with a lambda function to filter and print 
#only the words with a prime number of characters from the list.
def prime(a):
    n = len(a)
    for i in range(2,n):
        if n%i==0:
            return False
    else:
        return True
p = ["hello", "python", "world", "coding", "is", "fun", "prime", "numbers"]
L = list(filter(lambda i:prime(i),p))
print(L)

['hello', 'world', 'is', 'fun', 'prime', 'numbers']

In [44]:
#Write a Python program that takes a list of words as input and uses the filter function with a lambda function to 
#filter and print only the words with unique characters from the list.

def unique(s):
    return len(s)==len(set(s))
        #return True

SL = ["hello", "python", "world", "unique", "characters", "code", "is", "fun", "with", "distinct"]
L = list(filter(lambda i:unique(i),SL))
print(L)

['python', 'world', 'code', 'is', 'fun', 'with']

In [46]:
L = list(range(1,5))
SL = list(map(lambda i:i+100,L))
print(SL)

[101, 102, 103, 104]

In [48]:
#Write a Python program that takes a list of numbers as input and uses the map function with a 
#lambda function to calculate and print the square of each number in the list.
SL = list(range(1,11))
L = list(map(lambda i:i*i,SL))
print(L)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [49]:
print(L)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [52]:
def fun(n):
    if n>0:
        return n**2
    elif n<0:
        return -n
    else:
        return n
SL = [-3, 2, 0, -5, 10, -1, 7, 4, -9]
L = list(map(lambda i:fun(i),SL))
print(L)

[3, 4, 0, 5, 100, 1, 49, 16, 9]

In [64]:
#Write a Python program that takes a list of strings as input and uses the map function with a lambda 
#function to capitalize the first letter of each word in the list.
SL = ["hello", "python", "world", "capitalize", "words","using", "map"]
L = list(map(lambda i:i.capitalize(),SL)) 
print(L)

['Hello', 'Python', 'World', 'Capitalize', 'Words', 'Using', 'Map']

In [69]:
import functools
L = list(range(1,10))
SL = functools.reduce(lambda x,y:x*y,L)
print(SL)

362880

In [1]:
L = list(filter(lambda i:i%2,range(1,21)))
print(L)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [6]:
SL = list(range(10))
print(SL)
L = list(map(lambda i:i+1000 if i%2 else i+500,SL))
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[500, 1001, 502, 1003, 504, 1005, 506, 1007, 508, 1009]

In [10]:
lambda lst: [x for x in lst if x % 2 == 0]
s = ["hello", "python", "world", "capitalize", "words","using", "map"]
a=lambda strings: [s.upper() for s in strings]
a(s)

['HELLO', 'PYTHON', 'WORLD', 'CAPITALIZE', 'WORDS', 'USING', 'MAP']

In [ ]:
#Comprehension

In [11]:
#Write a list comprehension to create a list of squares of the first 10 natural numbers.
L = [i*i for i in range(11)]
print(L)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
#Write a tuple comprehension to create a tuple containing the lengths of words in a given sentence.
S = "Hello I am Ganesh"
SL = S.split()
print(SL)
L = [len(i) for i in SL]
print(L)

['Hello', 'I', 'am', 'Ganesh']
[5, 1, 2, 6]

In [18]:
#Write a set comprehension to create a set of all the vowels present in a given string.
s = "india is my country"
v = ["a","e","i","o","u"]
S = {i for i in s if i in v}
print(S)

{'o', 'a', 'u', 'i'}

In [20]:
#Given a list of names, create a dictionary comprehension to create a dictionary where 
#the keys are names and the values are the lengths of the names.
s = ["hello", "python", "world", "capitalize", "words","using", "map"]
d = {i:len(i) for i in s}
print(d)

{'hello': 5, 'python': 6, 'world': 5, 'capitalize': 10, 'words': 5, 'using': 5, 'map': 3}

In [25]:
d = {1:100,2:200,3:300}
print(d)

for i,j in d.items():
    print(i,j)

{1: 100, 2: 200, 3: 300}
1 100
2 200
3 300

In [31]:
#Write a nested list comprehension to create a 3x3 matrix filled with zeros.
L = [[0 for i in range(3)] for j in range(3)]
for i in L:
    for j in i:
        print(j,end="")
    print()

000
000
000

In [34]:
#Given a list of words, create a nested dictionary comprehension to create a dictionary where the keys are the words,
#and the values are dictionaries with keys as characters in the word and values as the count of those characters.
s = ["hello", "python", "world", "capitalize", "words","using", "map"]
def count(s,c):
    cnt = 0
    for i in s:
        if c==i:
            cnt+=1
    return cnt
d = {i:{j:count(i,j) for j in i} for i in s}
print(d)

{'hello': {'h': 1, 'e': 1, 'l': 2, 'o': 1}, 'python': {'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}, 'world': {'w': 1, 'o': 1, 'r': 1, 'l': 1, 'd': 1}, 'capitalize': {'c': 1, 'a': 2, 'p': 1, 'i': 2, 't': 1, 'l': 1, 'z': 1, 'e': 1}, 'words': {'w': 1, 'o': 1, 'r': 1, 'd': 1, 's': 1}, 'using': {'u': 1, 's': 1, 'i': 1, 'n': 1, 'g': 1}, 'map': {'m': 1, 'a': 1, 'p': 1}}

In [35]:
#Given a list of numbers, create a list comprehension to create a list of even numbers only.
sl = list(range(40))
L = [i for i in sl if i%2==0]
print(L)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [37]:
#Given a list of names, create a dictionary comprehension to create a dictionary where the 
#keys are names and the values are True if the name contains more than five characters, otherwise False.
s = ["hello", "python", "world", "capitalize", "words","using", "map"]
d = {i:True for i in s if len(i)>5}
print(d)

{'python': True, 'capitalize': True}

In [42]:
#Given two lists of numbers, create a list comprehension to create a list of 
#tuples containing the sum of corresponding elements from both lists.
L1 = list(range(1,11))
L2 = list(range(10,21))
L = [L1[i]+L2[j] for i in range(len(L1))]
print(L)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [59]:
# Write a Python program to find the second largest element in a list.
L = [1,6,3,8,3,2,9]
sl = list()
ans = 0
for i in L:
    if i > ans:
        ans = i
L.remove(ans)
print(L)
ans = 0
for i in L:
    if i > ans:
        ans = i    
print(ans)

[1, 6, 3, 8, 3, 2]
8

In [65]:
#Given a list of integers, write a function to return a new list containing only the prime numbers.
L = [i for i in range(100) if all(i%j!=0 for j in range(2,i))]
print(L)

[0, 1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [73]:
#Create a tuple containing the names of your favorite fruits. 
#Write a program to print the fruits in reverse order.
t = ('a','b','c')
print(t[::-1])

('c', 'b', 'a')

In [83]:
# Write a function to check if two sets have any common elements.
def check(s1,s2):
    for i in s1:
        if i in s2:
            c.append(i)
    return c
c = list()
s1 = {1,2,3,4}
s2 = {5,6,7,8,4}
check(s1,s2)

[4]

In [84]:
print("HEllo")

HEllo

In [85]:
# Create a dictionary with names as keys and ages as values. Write a program to find the oldest person's name.
d = {"a":45,"b":28,"c":99}
key = None
ans = 0
for i,j in d.items():
    if j > ans:
         ans = j
         key = i
print("Name : ",i,"Age : ",ans)

Name :  c Age :  99

In [86]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [94]:
# Use a lambda function to sort a list of strings based on the length of each string.
s = "India is mine country"
LS = s.split()

L = sorted(LS,key=lambda i:len(i))
print(L)

['is', 'mine', 'India', 'country']

In [96]:
# Given a list of words, create a new list that contains the lengths of each word.
SL = ["hello", "python", "world", "capitalize", "words","using", "map"]
L = [len(i) for i in SL]
print(L)

[5, 6, 5, 10, 5, 5, 3]

In [105]:
# Create a generator function that yields the Fibonacci sequence up to a given limit.
def fun(n):
    if n<0:
        print("Negative No not allowed!")
    else:
        f1 = 0
        f2 = 1
        for i in range(n):
            f3 = f1+f2
            #print(f3,end=" ")
            yield f3
            f1 = f2
            f2 = f3
L = list(fun(15))
print(L)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [256]:
# Write a generator function that generates random numbers between 1 and 100 until a multiple of 7 is generated.
import random
def fun():
    while(True):
        r = random.randint(1,100)
        if r%7==0:
            return
        yield r
        

g = list(fun())
print(g)

[62, 62, 82, 46, 62, 3, 92, 33, 54, 96, 40, 15, 3, 55, 87, 41, 54, 64, 81, 89]

In [258]:
a = lambda i,j:i+j
print(a(1,2))

3

In [67]:
#Given a matrix (2D list) represented as matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], write a 
#list comprehension to transpose the matrix (rows become columns and columns become rows).
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
"""
[1,2,3] 00     [1,4,7] 00
[4,5,6] 10     [2,5,8] 01
[7,8,9]        [3,6,9]
"""
#L = [[m[j][i] for j in range(len(m))] for i in range(len(m[0]))]
L = [[m[j][i] for j in range(3)] for i in range(3)]

print(L)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [10]:
#Write a list comprehension that takes a sentence as input and generates a list of the lengths of 
#each word in the sentence.Ignore punctuation and handle multiple spaces between words.

s = "With great powers comes with great responsibilties"
L = [len(i) for i in s.split()]
print(L)
d = {i:len(i) for i in s.split()}
print(d)

[4, 5, 6, 5, 4, 5, 15]
{'With': 4, 'great': 5, 'powers': 6, 'comes': 5, 'with': 4, 'responsibilties': 15}

In [36]:
#Write a list comprehension that takes a string as input and generates a 
#list of all the unique characters in the string, in the order they appear.
s = "With great powers comes with great responsibilties"
L = [i for i in s if i not in L]
print(L)
rs = []
rs = [char for char in s if char not in rs]
print(rs)

['W', 'i', 't', 'h', ' ', 'g', 'r', 'e', 'a', 't', ' ', 'p', 'o', 'w', 'e', 'r', 's', ' ', 'c', 'o', 'm', 'e', 's', ' ', 'w', 'i', 't', 'h', ' ', 'g', 'r', 'e', 'a', 't', ' ', 'r', 'e', 's', 'p', 'o', 'n', 's', 'i', 'b', 'i', 'l', 't', 'i', 'e', 's']
['W', 'i', 't', 'h', ' ', 'g', 'r', 'e', 'a', 't', ' ', 'p', 'o', 'w', 'e', 'r', 's', ' ', 'c', 'o', 'm', 'e', 's', ' ', 'w', 'i', 't', 'h', ' ', 'g', 'r', 'e', 'a', 't', ' ', 'r', 'e', 's', 'p', 'o', 'n', 's', 'i', 'b', 'i', 'l', 't', 'i', 'e', 's']

In [76]:
f1 = 0
f2 = 1
f3 = None
def f():
    global f1,f2,f3
    f3 = f1+f2
    f1 = f2
    f2 = f3
    return f3
L = [f() for i in range(20) ]
print(L)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]

In [9]:
L = []
L = [0, 1] + [L[i - 2] + L[i - 3] for i in range(2, 20)]
print(fibonacci_sequence)

IndexError: list index out of range

In [11]:
fibonacci_sequence = [0, 1]
while len(fibonacci_sequence) < 20:
    next_fibonacci = fibonacci_sequence[-1] + fibonacci_sequence[-2]
    fibonacci_sequence.append(next_fibonacci)
print(fibonacci_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [2]:
fibonacci_sequence = [0, 1] + [fibonacci_sequence[i - 1] + fibonacci_sequence[i - 2] for i in range(2, 20)]
print(fibonacci_sequence)

NameError: name 'fibonacci_sequence' is not defined

In [4]:
#Write a list comprehension that takes a string as input and 
#generates a list of tuples containing the count of vowels and consonants in the string.
s = "With great powers comes with great responsibilties"
v = ["a","e","i","o","u"]

L = [(i if i=="g") for i in s]
print(L)

SyntaxError: invalid syntax (2638533725.py, line 6)

In [38]:
def count(s):
    d = {}
    for i in s:
        if i in d:
            d[i]+=1
        else:
            d[i] = 1
    return d
s = "String example"
d = count(s)
print(d)

{'S': 1, 't': 1, 'r': 1, 'i': 1, 'n': 1, 'g': 1, ' ': 1, 'e': 2, 'x': 1, 'a': 1, 'm': 1, 'p': 1, 'l': 1}

In [22]:
i = 3
s = "hello"
print(s[i::])

lo

In [39]:
s = "String example"
d = {i:d[i]+=1 for i in s if i in d }

SyntaxError: invalid syntax (4180065803.py, line 2)

In [ ]:
===========================================================================
STARTING AGAIN

In [2]:
print("Hello")

Hello

In [6]:
i = None
print(id(i))
j = None
print(id(i))

9488912
9488912

In [2]:
i = 3
j = id(3)
print(globals())
del i 
del j

{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'i = 3\nj = id(3)\nprint(globals())', 'i = 3\nj = id(3)\nprint(globals())\ndel i \ndel j'], '_oh': {}, '_dh': [PosixPath('/home/lenovo/Desktop/Python')], 'In': ['', 'i = 3\nj = id(3)\nprint(globals())', 'i = 3\nj = id(3)\nprint(globals())\ndel i \ndel j'], 'Out': {}, 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x7f719c6dd0a0>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x7f719c6ddee0>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x7f719c6ddee0>, 'open': <function open at 0x7f719e91bf70>, '_': '', '__': '', '___': '', '_i': 'i = 3\nj = id(3)\nprint(globals())', '_ii': '', '_iii': '', '_i1': 'i = 3\nj = id(3)\nprint(globals())', 'i': 3, 'j': 9793152, '_i2': 'i = 3\nj = id(3)\nprint(globals())\ndel i \ndel j'}

In [4]:
_i1 = 13
print(_i1)
print(globals())

13
{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', 'i = 3\nj = id(3)\nprint(globals())', 'i = 3\nj = id(3)\nprint(globals())\ndel i \ndel j', '_i1 = 13\nprint(_i1)', '_i1 = 13\nprint(_i1)\nprint(globals())'], '_oh': {}, '_dh': [PosixPath('/home/lenovo/Desktop/Python')], 'In': ['', 'i = 3\nj = id(3)\nprint(globals())', 'i = 3\nj = id(3)\nprint(globals())\ndel i \ndel j', '_i1 = 13\nprint(_i1)', '_i1 = 13\nprint(_i1)\nprint(globals())'], 'Out': {}, 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x7f719c6dd0a0>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x7f719c6ddee0>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x7f719c6ddee0>, 'open': <function open at 0x7f719e91bf70>, '_': '', '__': '', '___': '', '_i': '_i1 = 13\nprint(_i1)', '_ii': 'i = 3\nj = id(3)\nprint(globals())\ndel i \ndel j', '_iii': 'i = 3\nj = id(3)\nprint(globals())', '_i1': 13, '_i2': 'i = 3\nj = id(3)\nprint(globals())\ndel i \ndel j', '_i3': '_i1 = 13\nprint(_i1)', '_i4': '_i1 = 13\nprint(_i1)\nprint(globals())'}

In [5]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [6]:
a = 10
b = 20
print(a+b)
print(a.__add__(b))

30
30

In [7]:
a = int(input("Enterfirst no : "))
b = int(input("Enter second no : "))
a,b = b,a
print(a)
print(b)

Enterfirst no : 1
Enter second no : 2
2
1

In [2]:
L = [i for i in range(100) if all(i%j!=0  for j in range(2,(i//2)+1))]
print(L)

[0, 1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [4]:
d = {i : i*i for i in range(10)}
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [13]:
name = "Ganesh"
per = 67.76
print("Your name :",name,"and Percentage :",per)
print("Your name : {0} and Percentage : {1}".format(name,per))
print(f"Your name : {name} and Percentage : {per}")

Your name : Ganesh and Percentage : 67.76
Your name : Ganesh and Percentage : 67.76
Your name : Ganesh and Percentage : 67.76

In [20]:
a = int(input("Enter first no : "))
b = int(input("Enter second no : "))
print("Addition :",a+b)
print(f"Addition : {a+b}")
print("Addition : {}".format(a+b))
print("Addition : %d"%(a+b))

Enter first no : 1
Enter second no : 2
Addition : 3
Addition : 3
Addition : 3
Addition : 3

In [30]:
a = 0B1000101
print(a)
print(bin(a))

69
0b1000101

In [33]:
a = 0o123
print(a)

83

In [36]:
a = 0x212aaf
print(a)

2173615

In [32]:
a = 10
print(bin(a))
print(oct(a))
print(hex(a))

0b1010
0o12
0xa

In [38]:
a = hex(0b1011)
print(a)
a = oct(0b1011)
print(a)

0xb
0o13

In [46]:
a = bin(15)
print(type(a))*3
    print("same")

<class 'str'>
0b1111
same

In [47]:
print(2**3**2)

512

In [48]:
print(True+100)

101

In [49]:
print(False-1)

-1

In [50]:
print(True-1)

0

In [51]:
print(bool(None))

False

In [52]:
print(bool(""))

False

In [53]:
print(bool(" "))

True

In [66]:
a = 10
b = 2
print(a & b)

2

In [67]:
a = 10
b = 2
print(a | b)

10

In [69]:
a = int(input("Enter first no : "))
b = int(input("Enter second no : "))
print("Minimum no : ",a|b)

Enter first no : 5
Enter second no : 3
Minimum no :  7

In [71]:
print(print("Hello") == None)

Hello
True

In [73]:
a = print
a("hello")

hello

In [77]:
a = int
a(5.0)

5

In [91]:
a = [11,22,33]
b = [11,22,33]
print(id(a))
print(id(b))
print(a is b)

139726942606336
139726942492864
False

In [92]:
a = "tca"
b = "tca"
print(id(a))
print(id(b))
print(a is b)

139726942386736
139726942386736
True

In [97]:
if  2==2 and print("Hello") == None:
    print("none returned")

Hello
none returned

In [ ]:
print("Enter no : ")    
a = input()

Enter no :

In [6]:
a = 3
b = 5
if a == b:
    print("Equal")
elif print("elif") and a > b:
    print("a greater")
else:
    print("a smaller")

elif
a smaller

In [8]:
for i in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [10]:
for i in range(5):
    print(i,": Hello")

0 : Hello
1 : Hello
2 : Hello
3 : Hello
4 : Hello

In [12]:
for i in range(0,21,2):
    print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20

In [23]:
i = 0
while i < 20:
    print(i,end=" ")
    i = i + 2

0 2 4 6 8 10 12 14 16 18

In [25]:
a = int(input("Enter lower limit : "))
b = int(input("Enter upper limit : "))
for i in range(a,b+1):
    print(i,end=" ")

Enter lower limit : 5
Enter upper limit : 55
5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55

In [28]:
n = int(input("Enter no to check if prime : "))

for i in range(2,(n//2)+1):
    if n%i == 0:
        print(n,"is not a Prime Number !!!")
        break
else:
    print(n,"is Prime Number !!!")

Enter no to check if prime : 123
123 is not a Prime Number !!!

In [33]:
L = [1,2,3,4,5,1,4,3,34,32]

for i in L:
    if i < 0:
        print("List has negative number : ",i,"at index : ",L.index(i))
        break
else:
    print("List is negative number free")

List is negative number free

In [5]:
for i in range(4):
    for j in range(4):
        print("*",end="")
    print()

****
****
****
****

In [6]:
for i in range(4):
    print("*"*4)

****
****
****
****

In [11]:
for j in range(1,5):
    for i in range(1,5):
        print(j,end="")
    print()

1111
2222
3333
4444

In [15]:
for i in range(1,5):
    print(str(i)*4)

1111
2222
3333
4444

In [23]:
for i in range(1,11):
    for j in range(1,11):
        print("%4d"%(i*j),end="")
    print()

   1   2   3   4   5   6   7   8   9  10
   2   4   6   8  10  12  14  16  18  20
   3   6   9  12  15  18  21  24  27  30
   4   8  12  16  20  24  28  32  36  40
   5  10  15  20  25  30  35  40  45  50
   6  12  18  24  30  36  42  48  54  60
   7  14  21  28  35  42  49  56  63  70
   8  16  24  32  40  48  56  64  72  80
   9  18  27  36  45  54  63  72  81  90
  10  20  30  40  50  60  70  80  90 100

In [26]:
print(chr(97))

a

In [34]:
for i in range(4):
    for j in range(4):
        print(chr(i+65),end="")    
    print()

AAAA
BBBB
CCCC
DDDD

In [35]:
for i in range(4):
    print(chr(i+65)*4)

AAAA
BBBB
CCCC
DDDD

In [39]:
for i in range(1,5):
    for j in range(1,5):
        print(j,end="")
    print()

1234
1234
1234
1234

In [11]:
for i in range(4):
    for j in range(4):
        print(chr(j+65),end="")
    print()

ABCD
ABCD
ABCD
ABCD

In [10]:
print("Hello")

Hello

In [14]:
for i in range(4):
    for j in range(65,91):
        print(chr(j),end=" ")
    print()

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [18]:
for i in range(1,5):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****

In [15]:
for i in range(1,5):
    print("*"*i)

*
**
***
****

In [29]:
for j in range(1,5):
    for i in range(j):
        print(j,end="")
    print()

1
22
333
4444

In [30]:
for i in range(1,5):
    print(str(i)*i)

1
22
333
4444

In [36]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234

In [38]:
for i in range(1,5):
    for j in range(i):
        print(chr(j+65),end="")
    print()

A
AB
ABC
ABCD

In [45]:
for i in range(1,5):
    for j in range(i):
        print(chr(i+64),end="")
    print()

A
BB
CCC
DDDD

In [49]:
k = 4
for i in range(1,5):
    for j in range(k):
        print("*",end="")
    k = k - 1
    print()

****
***
**
*

In [51]:
for i in range(4,0,-1):
    for j in range(i):
        print("*",end="")
    print()

****
***
**
*

In [62]:
for i in range(1,5):
    print("*"*i)
for j in range(4,0,-1):
    print("*"*j)

*
**
***
****
****
***
**
*

In [63]:
for i in range(4,0,-1):
    print(str(i)*i)

4444
333
22
1

In [67]:
for i in range(5,0,-1):
    for j in range(1,i):
        print(j,end="")
    print()

1234
123
12
1

In [73]:
for i in range(4,0,-1):
    for j in range(1,i+1):
        print(chr(i+64),end="")
    print()

DDDD
CCC
BB
A

In [3]:
==========================
STRING TYPE

In [14]:
s = 'This is example of string in Python'
print(s)
print(type(s))
print(id(s))
print(s[1:12:2])

This is example of string in Python
<class 'str'>
140051777172080
hsi xm

In [15]:
s = "This is example of string in Python"
print(s)
print(type(s))
print(id(s))
print(s[1:12:2])

This is example of string in Python
<class 'str'>
140051777174000
hsi xm

In [17]:
s = '''This is example of string in Python
It is a multiline string'''
print(s)
print(type(s))
print(id(s))
print(s[1::2])

This is example of string in Python
It is a multiline string
<class 'str'>
140051777206288
hsi xml fsrn nPto
ti  utln tig

In [19]:
s = """This is example of string in Python
It is a multiline string"""
print(s)
print(type(s))
print(id(s))
print(s[1::2])

This is example of string in Python
It is a multiline string
<class 'str'>
140051777206512
hsi xml fsrn nPto
ti  utln tig

In [34]:
s = " \'Sachin Tendulkar\' / \'MS Dhoni\' are best in Cricket. "
print(s)

 'Sachin Tendulkar' / 'MS Dhoni' are best in Cricket.

In [37]:
s = "I want to print \\n"
print(s)

I want to print \n

In [39]:
s = "I want to print \\t"
print(s)

I want to print \t

In [42]:
s = "I want to print\\b"
print(s)

I want to print\b

In [49]:
s = "This is 'String'"
print(s)

This is 'String'

In [51]:
s = 'This is "String"'
print(s)

This is "String"

In [52]:
s = 'This is """String"""'
print(s)

This is """String"""

In [54]:
s = "This is '''String'''"
print(s)

This is '''String'''

In [77]:
s = """This is "String" \b"""
print(s)

This is "String" 

In [108]:
s = "This is example of String"
print(s)

for i in range(0,len(s)):
    print(s[i],end="")

print()    

for i in s:
    print(i,end="")


print()

i = 0
while i < len(s):
    print(s[i],end="")
    i+=1
    
    
print("\nIt's me")

for i in range(-(len(s)),(-1+1)):
    print(s[i],end="")

print()

for i in range(-(len(s)),len(s)):
    print(s[i],end="")

    
print()

for i in range(-1,-(len(s)+1),-1):
    print(s[i],end="")

This is example of String
This is example of String
This is example of String
This is example of String
It's me
This is example of String
This is example of StringThis is example of String
gnirtS fo elpmaxe si sihT

In [115]:
a = (hash("djfsk"))
b = a
cnt = 0
while a != 0:
    a = a//10
    cnt += 1
print(cnt)

18

In [ ]:
#Slice Operator

In [116]:
s = "This is example of String for Slicing"
print(s[::])

This is example of String for Slicing

In [117]:
s = "This is example of String for Slicing"
print(s[0:len(s):1])

This is example of String for Slicing

In [118]:
s = "This is example of String for Slicing"
print(s[0::])

This is example of String for Slicing

In [119]:
s = "This is example of String for Slicing"
print(s[:len(s):])

This is example of String for Slicing

In [120]:
s = "This is example of String for Slicing"
print(s[::1])

This is example of String for Slicing

In [121]:
s = "This is example of String for Slicing"
print(s[::2])

Ti seapeo tigfrSiig

In [122]:
s = "This is example of String for Slicing"
print(s[::3])

Tssxp  rgoScg

In [129]:
s = "This is example of String for Slicing"
print(s[::133])

T

In [130]:
s = "This is example of String for Slicing"
print(s[::-1])

gnicilS rof gnirtS fo elpmaxe si sihT

In [131]:
s = "This is example of String for Slicing"
print(s[:15:])

This is example

In [132]:
s = "This is example of String for Slicing"
print(s[::-4])

girgtope T

In [133]:
s = "This is example of String for Slicing"
print(s[-1::-1])

gnicilS rof gnirtS fo elpmaxe si sihT

In [134]:
s = "This is example of String for Slicing"
print(id(s))
ts = s[::]
print(id(ts))

140051396531184
140051396531184

In [136]:
s = "This is example of String for Slicing"
print(id(s))
ts = s[0::1]
print(id(ts))

140051396532816
140051396532816

In [138]:
s = "This is example of String for Slicing"
print(id(s))
ts = s[:len(s):]
print(id(ts))

140051396533296
140051396533296

In [140]:
s = "This is example of String for Slicing"
print(id(s))
ts = s[:len(s)-1:]
print(id(ts))

140051396533584
140051396533104

In [143]:
s = "This is example of String for Slicing"
print(s[1000:-1000:-1])

gnicilS rof gnirtS fo elpmaxe si sihT

In [145]:
s = "This is example of String for Slicing"
print(s[::0])

ValueError: slice step cannot be zero

In [147]:
s = "Ganesh"+"Patil"
print(s)
s = "Ganesh "+"Patil"
print(s)

GaneshPatil
Ganesh Patil

In [149]:
s = "IND "*5
print(s)

IND IND IND IND IND

In [153]:
a = "Ganesh "
b = "Patil"

s = a,b
print(s)

s = a + b
print(s)

s = a*1 + b*1
print(s)

('Ganesh ', 'Patil')
Ganesh Patil
Ganesh Patil

In [157]:
a = "a"
b = "b"
print(a==b)
print(a > b)
print(a < b)
print(a != b)

False
False
True
True

In [8]:
s = "This is example for string and example is to understand count function with examples"
print(s.count("ex",1,10))

1

In [11]:
s = "This is example for string and example is to understand count function with examples"
print(s.count("ex"))

3

In [12]:
s = "This is example for string and example is to understand count function with examples"
print(s.count("ex",))

3

In [13]:
s = "This is example for string and example is to understand count function with examples"
print("example" in s)

True

In [14]:
s = "This is example for string and example is to understand count function with examples"
print("example" not in s)

False

In [18]:
s = "Ganesh,Patil,ICCS,BCS,85.56"
L = s.split(",")
print(L)

['Ganesh', 'Patil', 'ICCS', 'BCS', '85.56']

In [ ]:
find function

In [24]:
s = "bcsbcabsc"
print(s.find("bsc"))

6

In [25]:
s = "bcsbcabsc"
print(s.find("abcd"))

-1

In [26]:
s = "bcsbcabsc"
print(s.index("bsc"))

6

In [27]:
s = "bcsbcabsc"
print(s.index("abcd"))

ValueError: substring not found

In [28]:
s = "    IND    "
print(s)
print(s.strip())

    IND
IND

In [30]:
s = "    IND"
print(s)
print(s.lstrip())

    IND
IND

In [31]:
s = "IND    "
print(s)
print(s.lstrip())

IND
IND

In [43]:
s = "this is small string"
st = "THIS IS CAPITAL STRNG"

print(s.upper())
print(st.lower())

print(s.isupper())
print(st.isupper())

print(s.islower())
print(st.islower())

s = "This Is In Camel Case"
print(s.swapcase())

print(s.istitle())


s = "this is String"
print(s.capitalize())

THIS IS SMALL STRING
this is capital strng
False
True
True
False
tHIS iS iN cAMEL cASE
True
This is string

In [46]:
a = "abc"
print(a.isalpha())
print(a.isalnum())
print(a.isdigit())

True
True
False

In [49]:
a = "123"
print(a.isalpha())
print(a.isalnum())
print(a.isdigit())

False
True
True

In [53]:
L = ["Ganesh","Patil"]
s = " ".join(L)
print(s)

Ganesh Patil

In [59]:
L = ["02","09","2023"]
s = "-".join(L)
print(s)
s = "/".join(L)
print(s)

02-09-2023
02/09/2023

In [65]:
s = "I love c and python and python programming"
ts = s.replace("python","java")
print(ts)

I love c and java and java programming

In [67]:
s = "I love c and python and python programming, python is best"
ts = s.replace("python","java",1)
print(ts)

I love c and java and python programming, python is best

In [68]:
s = "I love c and python and python programming, python is best"
ts = s.replace("python","java",2)
print(ts)

I love c and java and java programming, python is best

In [71]:
s = "I love c and python and python programming, python is best"
ts = s.replace("python","java",-2)
print(ts)

I love c and java and java programming, java is best

In [ ]:
LIST Type

In [3]:
L= ["A","B","C","D","E"]
print(L)
print(len(L))
print(L[0])

['A', 'B', 'C', 'D', 'E']
5
A

In [13]:
L= ["A","B","C","D","E"]

for i in range(0,len(L)):
    print(L[i],end=" ")

print()    
    
for i in L:
    print(i,end=" ")
    
print()
i=0
while i < len(L):
    print(L[i],end=" ")
    i+=1

A B C D E
A B C D E
A B C D E

In [15]:
L= ["A","B","C","D","E"]

SL = ["AAA","BBB",L,"CCC"]
print(SL)

['AAA', 'BBB', ['A', 'B', 'C', 'D', 'E'], 'CCC']

In [18]:
L1 = [11,22,33,44]
print(L1)
print(id(L1))

L2 = L1
L2[0] = 111
print(L2)
print(id(L2))

print(L1)
print(id(L1))

[11, 22, 33, 44]
140049891896576
[111, 22, 33, 44]
140049891896576
[111, 22, 33, 44]
140049891896576

In [42]:
import random
L = [random.randint(1,500) for i in range(20)]
print(L)
L.sort()
print(L)


L = [random.randint(1,500) for i in range(20)]
SL = sorted(L)
print(L)
print(SL)

[367, 40, 241, 166, 492, 378, 86, 395, 392, 40, 59, 464, 172, 232, 299, 294, 388, 29, 201, 406]
[29, 40, 40, 59, 86, 166, 172, 201, 232, 241, 294, 299, 367, 378, 388, 392, 395, 406, 464, 492]
[382, 210, 463, 24, 427, 293, 206, 139, 50, 454, 10, 379, 22, 189, 105, 218, 305, 447, 308, 335]
[10, 22, 24, 50, 105, 139, 189, 206, 210, 218, 293, 305, 308, 335, 379, 382, 427, 447, 454, 463]

In [48]:
L = ["Pune","Mumbai","Jalgaon","Delhi","Dhule","Nashik","Ch. Sambhajinagar"]

L.sort()
print(L)

L.sort(reverse=True)
print(L)

L.sort(key=len)
print(L)

L.sort(key=len,reverse=True)
print(L)

['Ch. Sambhajinagar', 'Delhi', 'Dhule', 'Jalgaon', 'Mumbai', 'Nashik', 'Pune']
['Pune', 'Nashik', 'Mumbai', 'Jalgaon', 'Dhule', 'Delhi', 'Ch. Sambhajinagar']
['Pune', 'Dhule', 'Delhi', 'Nashik', 'Mumbai', 'Jalgaon', 'Ch. Sambhajinagar']
['Ch. Sambhajinagar', 'Jalgaon', 'Nashik', 'Mumbai', 'Dhule', 'Delhi', 'Pune']

In [49]:
L = [1,2,3,4,5,6,7,8,9,10]
s = 0
for i in L:
    s+=i
print(s)

55

In [58]:
L = [random.randint(1,500) for i in range(20)]
print(L)
s = L[0]
for i in L:
    if s < i:
        s = i
print("Max element : ",s)

SL = sorted(L)
print("Second max : ",SL[len(SL)-2],SL[len(SL)-1])

[126, 213, 255, 195, 369, 123, 45, 365, 306, 476, 8, 459, 419, 68, 432, 33, 80, 154, 167, 85]
Max element :  476
Second max :  459 476

In [59]:
L = [126, 213, 255, 195, 369, 123, 45, 365, 306, 476, 8, 459, 419, 68, 432, 33, 80, 154, 167, 85]

print(L[::])

[126, 213, 255, 195, 369, 123, 45, 365, 306, 476, 8, 459, 419, 68, 432, 33, 80, 154, 167, 85]

In [62]:
L = [126, 213, 255, 195, 369, 123, 45, 365, 306, 476, 8, 459, 419, 68, 432, 33, 80, 154, 167, 85]
print(id(L))
SL = L#[::]
print(id(SL))

140049891318848
140049891318848

In [63]:
L = [126, 213, 255, 195, 369, 123, 45, 365, 306, 476, 8, 459, 419, 68, 432, 33, 80, 154, 167, 85]
print(id(L))
SL = L[::]
print(id(SL))

140049891316608
140049630366848

In [67]:
L = [126, 213, 255, 195, 369, 123, 45, 365, 306, 476, 8, 459, 419, 68, 432, 33, 80, 154, 167, 85]
print(L[::2])
print(L[-1::-1])
print(L[::-1])

[126, 255, 369, 45, 306, 8, 419, 432, 80, 167]
[85, 167, 154, 80, 33, 432, 68, 419, 459, 8, 476, 306, 365, 45, 123, 369, 195, 255, 213, 126]
[85, 167, 154, 80, 33, 432, 68, 419, 459, 8, 476, 306, 365, 45, 123, 369, 195, 255, 213, 126]

In [68]:
L = [1,2,3]
print(L*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [72]:
L = [126, 213, 255, 195, 369, 123, 45, 365, 306, 476, 8, 459, 419, 68, 432, 33, 80, 154, 167, 85]
print(365 in L)
print(1000 in L)

print(34 not in L)
print(459 not in L)

True
False
True
False

In [77]:
L = [1,2,3,4,5]
L.insert(2,222)
print(L)

[1, 2, 222, 3, 4, 5]

In [79]:
L = [1,2,3,4,5]
L.insert(3,"ABC")
print(L)

[1, 2, 3, 'ABC', 4, 5]

In [81]:
L = [1,2,3,4,5]
n = L.index(3)
print(n)

2

In [3]:
L = [1,2,3,4,5]
n = L.index(23)
print(n)

ValueError: 23 is not in list

In [6]:
L = list(range(10))
print(L)
print(id(L))
L.remove(2)
print(L)
print(id(L))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
140266593261824
[0, 1, 3, 4, 5, 6, 7, 8, 9]
140266593261824

In [8]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [10]:
L = list(range(10))
print(L)
L.remove(10)
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

ValueError: list.remove(x): x not in list

In [12]:
L = [1,2,3,2,3,4,2]
L.remove(2)
print(L)

[1, 3, 2, 3, 4, 2]

In [17]:
L = [1,2,3,2,3,4,2]
n = L.count(2)
print(n)

for i in range(n):
    L.remove(2)
    
print(L)

3
[1, 3, 3, 4]

In [25]:
L = [i for i in range(10)]
print(L)
L.clear()
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[]

In [28]:
L = list(range(1,11))
print(L)
print(L.pop())
nn = L.pop()
print(nn)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10
9

In [29]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [35]:
L = list(range(1,11))
print(L)
print(L.pop())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2

In [37]:
L = list(range(1,11))
print(L)
a = L.reverse()
print(L)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
None

In [46]:
L = [1,9,3]
SL = [10,4,6]
print(L>SL)
print(L==SL)
print(L!=SL)

False
False
True

In [57]:
L1 = list(range(1,6))
L2 = list(range(6,11))
print(L1)
print(L2)
L1.extend(L2)
print(L1)
print(L2)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[6, 7, 8, 9, 10]

In [59]:
L = list(range(1,20))
print(min(L))
print(max(L))

1
19

In [63]:
a = 10
b = 20
c = 30

L = [a,b,c]
print(L)

x,y,z = L
print(x,y,z)

[10, 20, 30]
10 20 30

In [67]:
L = list(range(10))
SL = L.copy()
print(L)
print(SL)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
L1 = [11,22,[33,44],55]
L2 = L1.copy()
print("id of L1 :",id(L1))                          #shallow copy
print("id of L2 :",id(L2))

print("id of 2nd element L1 : ",id(L1[2]))
print("id of 2nd element L2 : ",id(L2[2]))

id of L1 : 140266097758144
id of L2 : 140266097798336
id of 2nd element L1 :  140266097797760
id of 2nd element L2 :  140266097797760

In [70]:
import copy
L1 = [11,22,[33,44],55]
L2 = copy.deepcopy(L1)                               #deep copy
print("id of L1 :",id(L1))
print("id of L2 :",id(L2))

print("id of 2nd element L1 : ",id(L1[2]))
print("id of 2nd element L2 : ",id(L2[2]))

id of L1 : 140266590389376
id of L2 : 140266097674624
id of 2nd element L1 :  140266097743232
id of 2nd element L2 :  140266097757952

In [79]:
L = [[[i,j,k] for i in range(1,5) for j in range(5,10) for k in range(10,15)]]
print(L)

[[[1, 5, 10], [1, 5, 11], [1, 5, 12], [1, 5, 13], [1, 5, 14], [1, 6, 10], [1, 6, 11], [1, 6, 12], [1, 6, 13], [1, 6, 14], [1, 7, 10], [1, 7, 11], [1, 7, 12], [1, 7, 13], [1, 7, 14], [1, 8, 10], [1, 8, 11], [1, 8, 12], [1, 8, 13], [1, 8, 14], [1, 9, 10], [1, 9, 11], [1, 9, 12], [1, 9, 13], [1, 9, 14], [2, 5, 10], [2, 5, 11], [2, 5, 12], [2, 5, 13], [2, 5, 14], [2, 6, 10], [2, 6, 11], [2, 6, 12], [2, 6, 13], [2, 6, 14], [2, 7, 10], [2, 7, 11], [2, 7, 12], [2, 7, 13], [2, 7, 14], [2, 8, 10], [2, 8, 11], [2, 8, 12], [2, 8, 13], [2, 8, 14], [2, 9, 10], [2, 9, 11], [2, 9, 12], [2, 9, 13], [2, 9, 14], [3, 5, 10], [3, 5, 11], [3, 5, 12], [3, 5, 13], [3, 5, 14], [3, 6, 10], [3, 6, 11], [3, 6, 12], [3, 6, 13], [3, 6, 14], [3, 7, 10], [3, 7, 11], [3, 7, 12], [3, 7, 13], [3, 7, 14], [3, 8, 10], [3, 8, 11], [3, 8, 12], [3, 8, 13], [3, 8, 14], [3, 9, 10], [3, 9, 11], [3, 9, 12], [3, 9, 13], [3, 9, 14], [4, 5, 10], [4, 5, 11], [4, 5, 12], [4, 5, 13], [4, 5, 14], [4, 6, 10], [4, 6, 11], [4, 6, 12], [4, 6, 13], [4, 6, 14], [4, 7, 10], [4, 7, 11], [4, 7, 12], [4, 7, 13], [4, 7, 14], [4, 8, 10], [4, 8, 11], [4, 8, 12], [4, 8, 13], [4, 8, 14], [4, 9, 10], [4, 9, 11], [4, 9, 12], [4, 9, 13], [4, 9, 14]]]

In [81]:
L = [[1,2,3],[4,5,6],[7,8,9]]
SL = [j for i in L for j in i]
print(SL)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
L1 = ['a','b']
L2 = [1,2,3]
L = [[i,j] for i in L1 for j in L2]
print(L)

[['a', 1], ['a', 2], ['a', 3], ['b', 1], ['b', 2], ['b', 3]]

In [85]:
L = [1,2,3]
SL = [j for i in L for j in L]
print(SL)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [86]:
s = "Hello World Good Morning"
L = s.split()

['Hello', 'World', 'Good', 'Morning']

In [88]:
T = (11,22,33,"Ganesh",True,None)
print(T)
print(type(T))
print(id(T))

(11, 22, 33, 'Ganesh', True, None)
<class 'tuple'>
140266091224320

In [90]:
T = 11,222,33
print(T)
type(T)

(11, 222, 33)

tuple

In [91]:
T = (11)
print(T)
print(type(T))

11
<class 'int'>

In [93]:
T = (11,)
print(T)
print(type(T))

(11,)
<class 'tuple'>

In [94]:
print(print("Hello"))

Hello
None

In [96]:
T = 11,
print(T)
print(type(T))

(11,)
<class 'tuple'>

In [1]:
T = tuple(range(1,11))
print(T)

for i in range(10):
    print(T[i],end=" ")
    
print()

for i in T:
    print(i,end=" ")
    
print()
i = 0
while i < len(T):
    print(T[i],end=" ")
    i = i + 1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [12]:
T = tuple(range(1,11))
print(T)

print(T[::])
print(T[::-1])
print(T[3:5:])
print(T[3:5:-1])
print(T[4:6:])
print(T[1])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
(4, 5)
()
(5, 6)
2

In [19]:
T1 = tuple(range(1,6))
T2 = tuple(range(6,11))
print(T1,T2)
print(T1+T2)
print(T1*4)
print(T1*2+3*T2)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10)

In [26]:
L = [11,22,33,44]
D = {1:"aa",2:"bb",3:"cc"}
S = {1,2,3,4}

T = tuple(L)
print(T)

T = tuple(D)
print(T)

T = tuple(D.keys())
print(T)

T = tuple(D.values())
print(T)

T = tuple(S)
print(T)

(11, 22, 33, 44)
(1, 2, 3)
(1, 2, 3)
('aa', 'bb', 'cc')
(1, 2, 3, 4)

In [29]:
T = tuple(range(100))
print(T)
print(len(T))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99)
100

In [32]:
T = 11,11,22,11,223,43,22
print(T.count(11))
print(T.count(22))

3
2

In [34]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [37]:
T = 121,11,22,11,223,43,22
print(T.index(223))

4

In [38]:
help(tuple.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /)
    Return first index of value.

    Raises ValueError if the value is not present.

In [48]:
T = 11,11,22,11,223,43,22
print(T.index(11,-5))

3

In [50]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [54]:
T = 11,11,22,11,223,43,22
ST = sorted(T)
print(T)
print(ST)

(11, 11, 22, 11, 223, 43, 22)
[11, 11, 11, 22, 22, 43, 223]

In [60]:
D = {1:"zz",2:"bb",3:"cc"}
SD = sorted(D.values())
print(SD)

['bb', 'cc', 'zz']

In [78]:
T = 12,5,32,9,32,45
print(T)
print(sorted(T))
print(sorted(T,reverse=True))

T = "Pune","Mumbai","Jalgaon","Delhi"
print(sorted(T))
print(sorted(T,key=min))
print(sorted(T,reverse=True))
print(sorted(T,key=max))

(12, 5, 32, 9, 32, 45)
[5, 9, 12, 32, 32, 45]
[45, 32, 32, 12, 9, 5]
['Delhi', 'Jalgaon', 'Mumbai', 'Pune']
['Delhi', 'Jalgaon', 'Mumbai', 'Pune']
['Pune', 'Mumbai', 'Jalgaon', 'Delhi']
['Delhi', 'Jalgaon', 'Pune', 'Mumbai']

In [81]:
T = (i*i for i in range(10))
print(T)
for i in T:
    print(i,end=" ")

<generator object <genexpr> at 0x7fa1405d20b0>
0 1 4 9 16 25 36 49 64 81

In [84]:
rno = 101,102,103
name = "AAA","BBB","CCC"
per = 75.57,45.54,34

T = zip(rno,name,per)
print(T)
print(tuple(T))

<zip object at 0x7fa1407a1ec0>
((101, 'AAA', 75.57), (102, 'BBB', 45.54), (103, 'CCC', 34))

In [4]:
T = 11,22,33
print(id(T))
for i in T:
    print(id(i))

140707932380608
9793408
9793760
9794112

In [17]:
S = {11,22.34,"Ganesh",None,True,False}
print(S)
print(type(S))
print(id(S))

{False, None, True, 'Ganesh', 11, 22.34}
<class 'set'>
140707895453056

In [13]:
S = {11,22,11,33,44,22}
print(S)

for i in S:
    print(i,end=" ")

print()

for i in range(len(S)):
    print(S[i],end=" ")

{33, 11, 44, 22}
33 11 44 22

'\nfor i in range(len(S)):\n    print(S[i],end=" ")\n    '

In [19]:
S = {11,22.34,"Ganesh",None,True,False}
print(S)
print(type(S))
print(id(S))
print(S[::])

{False, None, True, 'Ganesh', 11, 22.34}
<class 'set'>
140707895455520

TypeError: 'set' object is not subscriptable

In [20]:
S = {11,22.34,"Ganesh",None,True,False}
print(S)
print(type(S))
print(id(S))
print(S[3])

{False, None, True, 'Ganesh', 11, 22.34}
<class 'set'>
140707895455072

TypeError: 'set' object is not subscriptable

In [24]:
L = [11,22,33,44]
D = {1:"aa",2:"bb",3:"cc"}
T = 1,2,3,4

print(set(L))
print(set(D))
print(set(D.values()))
print(set(T))

{33, 11, 44, 22}
{1, 2, 3}
{'aa', 'bb', 'cc'}
{1, 2, 3, 4}

In [25]:
D = {}
print(type(D))

<class 'dict'>

In [26]:
D = set()
print(type(D))

<class 'set'>

In [30]:
S = {11,22.34,"Ganesh",None,True,False}
print(S)

S.add(34)
print(S)

{False, None, True, 'Ganesh', 11, 22.34}
{False, None, True, 34, 'Ganesh', 11, 22.34}
None

In [32]:
S = {11,22.34,"Ganesh",None,True,False}

for i in S:
    print(i ,": ",hash(i))

False :  0
None :  593057
True :  1
Ganesh :  125889174751799338
11 :  11
22.34 :  783986623132655638

In [37]:
print(hash(False))
print(hash(True))

0
1

In [38]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [39]:
S = {11,22,33}
print(S)
S.add(100)
print(S)
S.add(33)
print(S)

{33, 11, 22}
{33, 11, 100, 22}
{33, 11, 100, 22}

In [47]:
S = set()
n = int(input(prompt = "Enter total elements : "))

for i in range(n):
    S.add(input("Enter element : "))
print(S)

Enter total elements : 3
Enter element : 3
Enter element : 4
Enter element : 5
{'4', '5', '3'}

In [40]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplementedError if active frontend doesn't support stdin.

In [50]:
L = [11,22,33,44]
D = {1:"aa",2:"bb",3:"cc"}
T = 1,2,3,4

S = set()
S.update(L,D,D.values(),T)
print(S)

{1, 2, 3, 4, 'bb', 11, 22, 33, 'aa', 44, 'cc'}

In [53]:
S = {1,2,[1,2]}
print(S)

TypeError: unhashable type: 'list'

In [52]:
S = {1,2,(11,22)}
print(S)

In [54]:
S = {11,22,(33,[44,55])}
print(S)

TypeError: unhashable type: 'list'

In [57]:
S = {11,22,33}
SS = S.copy()
print(S)
print(SS)
print(id(S))
print(id(SS))

{33, 11, 22}
{33, 11, 22}
140707894275200
140707894274528

In [ ]:
#remove 
#pop 
#descart

In [60]:
S = {11,22,33,44,55}
S.remove(11)
print(S)
S.remove(77)
print(S)

{33, 44, 22, 55}

KeyError: 77

In [62]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [68]:
S = {11,22,33,44,55}
S.pop()
print(S)
S.pop()
print(S)
S = set()
S.pop()
print(S)

{11, 44, 22, 55}
{44, 22, 55}

KeyError: 'pop from an empty set'

In [71]:
S = {11,22,23}
S.clear()
print(S)
S.add(11)
print(S)

set()
{11}

In [74]:
S = {11,22,33,44}
print(S)
S.discard(22)
print(S)
S.discard(55)
print(S)

{33, 11, 44, 22}
{33, 11, 44}
{33, 11, 44}

In [90]:
S1 = {11,22,33,44}
S2 = {44,55,66,77}
print(S1,S2)
print()

print(S1 | S2)
print(S1.union(S2))

print(S1.intersection(S2))
print(S1 & S2)

print(S1.difference(S2))
print(S1-S2)

print(S1.symmetric_difference(S2))
print(S1 ^ S2)

{33, 11, 44, 22} {66, 44, 77, 55}

{33, 66, 11, 44, 77, 22, 55}
{33, 66, 11, 44, 77, 22, 55}
{44}
{44}
{33, 11, 22}
{33, 11, 22}
{33, 66, 11, 77, 22, 55}
{33, 66, 11, 77, 22, 55}

In [99]:
S1 = {i for i in range(0,15,2)}
print(S1)
S2 = {i for i in range(0,10,4)}
print(S2)

print(S1 >= S2)
print(S1 <= S2)

{0, 2, 4, 6, 8, 10, 12, 14}
{0, 8, 4}
True
False

In [100]:
S = {11,22,33}
print(22 in S)
print(22 not in S)

print(44 in S)
print(44 not in S)

True
False
False
True

In [103]:
S = set(range(10))
print(S)
print(max(S))
print(min(S))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
9
0

In [107]:
S = frozenset({11,22,33})
print(S)
for i in S:
    print(i,end=" ")

frozenset({33, 11, 22})
33 11 22

In [115]:
L = 11
D = {1:"aa",2:"bb",3:"cc"}
T = "String"

S = frozenset((S,L,T))
print(S)

for i in S:
    print(i)

frozenset({frozenset({frozenset({11, frozenset({1, 2, 3, 4}), 'String'}), 11, 'String'}), 11, 'String'})
frozenset({frozenset({11, frozenset({1, 2, 3, 4}), 'String'}), 11, 'String'})
11
String

In [116]:
D = {11:"AAA",22:"BBB",33:"CCC",44:"DDD",55:"EEE"}
print(D)
print(type(D))
print(id(D))

{11: 'AAA', 22: 'BBB', 33: 'CCC', 44: 'DDD', 55: 'EEE'}
<class 'dict'>
140707894786048

In [149]:
D = {11:"AAA",22:"BBB",33:"CCC",44:"DDD",55:"EEE"}
print(D)

for i in D:
    print(i,end=" ")
    
print()

for i in D.keys():
    print(i,end=" ")

print()

for i in D.values():
    print(i,end=" ")
    
print("\n")

for i,j in D.items():
    print(i,"-->",j)

{11: 'AAA', 22: 'BBB', 33: 'CCC', 44: 'DDD', 55: 'EEE'}
11 22 33 44 55
11 22 33 44 55
AAA BBB CCC DDD EEE

11 --> AAA
22 --> BBB
33 --> CCC
44 --> DDD
55 --> EEE

In [134]:
L = [[11,22],[33,44]]
print(dict(L))
L = [(11,22),(33,44)]
print(dict(L))

{11: 22, 33: 44}
{11: 22, 33: 44}

In [137]:
S = {(11,22),(33,44)}
print(dict(S))

{11: 22, 33: 44}

In [139]:
T = ((11,22),(33,44))
print(dict(T))
T = ([11,22],[33,44])
print(dict(T))

{11: 22, 33: 44}
{11: 22, 33: 44}

In [144]:
D = {11:"AAA",22:"BBB",33:"CCC",44:"DDD",55:"EEE"}
print(D)
D[123] = "ZZZ"
print(D)
print(D[123])

{11: 'AAA', 22: 'BBB', 33: 'CCC', 44: 'DDD', 55: 'EEE'}
{11: 'AAA', 22: 'BBB', 33: 'CCC', 44: 'DDD', 55: 'EEE', 123: 'ZZZ'}
ZZZ

In [145]:
D = {11:"AAA",22:"BBB",33:"CCC",44:"DDD",55:"EEE"}
print(D)
D[11] = "YYY"
print(D)

{11: 'AAA', 22: 'BBB', 33: 'CCC', 44: 'DDD', 55: 'EEE'}
{11: 'YYY', 22: 'BBB', 33: 'CCC', 44: 'DDD', 55: 'EEE'}

In [147]:
a = 1; b = 2; c = a + b
print(c)

3

In [161]:
D = {11:"AAA",22:"BBB",33:"CCC",44:"DDD",55:"EEE"}
print(D.get(11))
print(D[11])

print(D.get(11,"Not found"))

print(D.get(123,"Not found"))

AAA
AAA
AAA
Not found

In [156]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [165]:
D = {11:"AAA",22:"BBB",33:"CCC",44:[1000,2000],55:"EEE"}
SD = D.copy()
print(D)
print(SD)

D[44][0] = 3000

print(D)
print(SD)

{11: 'AAA', 22: 'BBB', 33: 'CCC', 44: [1000, 2000], 55: 'EEE'}
{11: 'AAA', 22: 'BBB', 33: 'CCC', 44: [1000, 2000], 55: 'EEE'}
{11: 'AAA', 22: 'BBB', 33: 'CCC', 44: [3000, 2000], 55: 'EEE'}
{11: 'AAA', 22: 'BBB', 33: 'CCC', 44: [3000, 2000], 55: 'EEE'}

In [ ]:
del
pop
popitems

In [173]:
D = {11:"AAA",22:"BBB",33:"CCC",44:[1000,2000],55:"EEE"}
print(D)

del D[11]
print(D)

print(D.pop(22))
print(D)

print(D.popitem())
print(D)

D.clear()
print(D)

{11: 'AAA', 22: 'BBB', 33: 'CCC', 44: [1000, 2000], 55: 'EEE'}
{22: 'BBB', 33: 'CCC', 44: [1000, 2000], 55: 'EEE'}
BBB
{33: 'CCC', 44: [1000, 2000], 55: 'EEE'}
(55, 'EEE')
{33: 'CCC', 44: [1000, 2000]}
{}

In [174]:
D = {11:"AAA",22:"BBB",33:"CCC",44:[1000,2000],55:"EEE"}
print(len(D))

5

In [181]:
D1 = {11:"AAA",22:"BBB",33:"CCC",44:[1000,2000],55:"EEE"}
D2 = {i:i*i for i in range(5)}
print(D1)
print(D2,"\n")
D1.update(D2)
print(D1)
print(D2)

{11: 'AAA', 22: 'BBB', 33: 'CCC', 44: [1000, 2000], 55: 'EEE'}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

{11: 'AAA', 22: 'BBB', 33: 'CCC', 44: [1000, 2000], 55: 'EEE', 0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [178]:
help(dict.update)

Help on method_descriptor:

update(...)
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [184]:
D = {11: 'AAA', 22: 'BBB', 33: 'CCC', 44: [1000, 2000], 55: 'EEE', 0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
print(max(D))
print(min(D))

55
0

In [185]:
D = {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
print(min(D.values()))
print(max(D.values()))

0
16

In [193]:
D = {11: 'AAA', 22: 'BBB', 33: 'CCC', 44: [1000, 2000], 55: 'EEE', 0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
print(11 in D)
print(11 not in D)

print('AAA' in D.values())
print(16 not in D.values())

print(44 in D.items())
print([1000,2000] in D.values())

True
False
True
False
False
True

In [194]:
D = {11: 'AAA', 22: 'BBB', 33: 'CCC', 44: [1000, 2000], 55: 'EEE', 0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
print(sum(D))

175

In [195]:
D = {i:i**2 for i in range(1,6)}
print(D)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [196]:
D = {i:i*2 for i in range(1,6)}
print(D)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

In [209]:
D = {11: 'AAA', 22: 'BBB', 33: 'CCC', 44: [1000, 2000], 55: 'EEE', 0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

SD = sorted(D)
print(SD)

SD = sorted(D.keys())
print(SD)

import random
D = {i:random.randint(1,100) for i in range(10)}
print(D)
SD = sorted(D.values())
print(SD)

SD = sorted(D.values(),reverse=True)
print(SD)

[0, 1, 2, 3, 4, 11, 22, 33, 44, 55]
[0, 1, 2, 3, 4, 11, 22, 33, 44, 55]
{0: 84, 1: 83, 2: 13, 3: 70, 4: 45, 5: 40, 6: 10, 7: 95, 8: 80, 9: 74}
[10, 13, 40, 45, 70, 74, 80, 83, 84, 95]
[95, 84, 83, 80, 74, 70, 45, 40, 13, 10]

In [ ]:
FUNCTIONS

In [2]:
def greet(name):
    print("Hello,",name)
    
greet("Ganesh")

Hello, Ganesh

In [5]:
def greet(name):
    print("Hello,",name)
    
greet("Ganesh")
greet = 5
print(greet)

Hello, Ganesh
5

In [11]:
def greet():
    try:
        greet()
    except RecursionError as re:
        print("Excedded")
    
greet()

print("Bye")

Excedded
Bye

In [12]:
help(RecursionError)

Help on class RecursionError in module builtins:

class RecursionError(RuntimeError)
 |  Recursion limit exceeded.
 |
 |  Method resolution order:
 |      RecursionError
 |      RuntimeError
 |      Exception
 |      BaseException
 |      object
 |
 |  Methods defined here:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseException:
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __setstate__(...)
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  with_traceback(...)
 |      Exception.with_traceback(tb) --
 |      set self.__traceback__ to tb and return self.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from BaseException:
 |
 |  __cause__
 |      exception cause
 |
 |  __context__
 |      exception context
 |
 |  __dict__
 |
 |  __suppress_context__
 |
 |  __traceback__
 |
 |  args

In [13]:
help(Exception)

Help on class Exception in module builtins:

class Exception(BaseException)
 |  Common base class for all non-exit exceptions.
 |
 |  Method resolution order:
 |      Exception
 |      BaseException
 |      object
 |
 |  Built-in subclasses:
 |      ArithmeticError
 |      AssertionError
 |      AttributeError
 |      BufferError
 |      ... and 15 other subclasses
 |
 |  Methods defined here:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseException:
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __setstate__(...)
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  with_traceback(...)
 |      Exception.with_traceback(tb) --
 |      set self.__traceback__ to tb and return self.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from BaseException:
 |
 |  __cause__
 |      exception cause
 |
 |  __context__
 |      exception context
 |
 |  __dict__
 |
 |  __suppress_context__
 |
 |  __traceback__
 |
 |  args

In [15]:
def greet(name):
    print("Hello,",name)
    
greet("Ganesh")
print(greet)
print(id(greet))
print(type(greet))

Hello, Ganesh
<function greet at 0x7f65c187b670>
140075015321200
<class 'function'>

In [22]:
from random import randint
def sort_list(L):
    return sorted(L)

L = [randint(1,100) for i in range(1,10)]
print(L)

SL = sort_list(L)
print(SL)

[74, 100, 55, 19, 69, 9, 82, 52, 58]
[9, 19, 52, 55, 58, 69, 74, 82, 100]

In [24]:
def cal(a,b):
    return a+b,a-b,a*b,a//b

a,b,c,d = cal(8,4)
print(a,b,c,d)

12 4 32 2

In [30]:
#positional args
def greet(msg,name):
    print(msg+",",name)
    
greet("Hello","Ganesh")
greet("Ganesh","Hello")
greet("Hello")

Hello, Ganesh
Ganesh, Hello

TypeError: greet() missing 1 required positional argument: 'name'

In [33]:
#keyword args
def greet(msg,name):
    print(msg+",",name)
    
greet(msg="Hello",name="Ganesh")
greet(name="Ganesh",msg="Hello")

Hello, Ganesh
Hello, Ganesh

In [46]:
def addition(a,b,c):
    print(a,b,c)
    
addition(10,20,30)
addition(a=10,b=20,c=30)
addition(10,20,c=30)
addition(10,b=20,c=30)

10 20 30
10 20 30
10 20 30
10 20 30

In [55]:
#default arguments

def greet(msg="Hello",name="Ganesh"):
    print(msg+",",name)
    
greet()
greet("Good Morning","Ganesh")
greet(msg="Good Morning",name="Ganesh")
greet(name="Ganesh",msg="Good Morning")
greet("Good Morning",name="Ganesh")

Hello, Ganesh
Good Morning, Ganesh
Good Morning, Ganesh
Good Morning, Ganesh
Good Morning, Ganesh

In [61]:
def greet(a,msg="Hello",name="Ganesh"):
    print(msg+",",name,": ",a)
    
greet(3)
greet(1,"Good Morning","Ganesh")
greet("Good Morning","Ganesh",1)

Hello, Ganesh :  3
Good Morning, Ganesh :  1
Ganesh, 1 :  Good Morning

In [67]:
def addition(*a):
    s = 0
    for i in a:
        s+=i
    print("Sum : ",s)

addition(10)
addition(10,20)
addition(10,20,30)
addition(10,20,30,40)

Sum :  10
Sum :  30
Sum :  60
Sum :  100

In [70]:
def var_len(*a):
    print(a)
    print(id(a))
    print(type(a))

var_len()
var_len(10)
var_len(10,20,"STR")

()
140075525697600
<class 'tuple'>
(10,)
140075021876864
<class 'tuple'>
(10, 20, 'STR')
140075015370240
<class 'tuple'>

In [76]:
def var_len(**a):
    print(a)
    print(type(a))
    print(id(a))
    
var_len(a=10,b=20)

{'a': 10, 'b': 20}
<class 'dict'>
140075017948736

In [2]:
def add(a,b):
    print(a+b)
    print(locals())
add(10,20)
print("\n")
#print(locals())

30
{'a': 10, 'b': 20}

In [4]:
print(type(globals))

<class 'builtin_function_or_method'>

In [5]:
print(type(globals()))

<class 'dict'>

In [8]:
print(lambda a,b : a+b)

<function <lambda> at 0x7f9ee4712af0>

In [11]:
show = lambda msg:print(msg)
show("Hello")
print(show)
print(type(show))
print(id(show))

Hello
<function <lambda> at 0x7f9ee46d44c0>
<class 'function'>
140320413926592

In [14]:
a = 30
b = 10

minmax = lambda a,b:a if a>b else b
print("Maximum : ",minmax(a,b))

Maximum :  30

In [16]:
def display(a,b,max1,min1):
    print("Max : ",max1(a,b),"and Min : ",min1(a,b))

display(10,20,lambda a,b:a if a>b else b, lambda a,b:a if a < b else b)

Max :  20 and Min :  10

In [20]:
L = list(range(1,20))
print(L)
SL = list(filter(lambda a:a%2==0, L))
print(SL)

SL = list(filter(lambda a:a%2==1,L))
print(SL)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [21]:
L = list(range(1,11))
SL = list(map(lambda a:a+5,L))
print(SL)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [27]:
import functools
L = list(range(11))
s = functools.reduce(lambda x,y:print(x,y),L)
print("Sum : ",s)

0 1
None 2
None 3
None 4
None 5
None 6
None 7
None 8
None 9
None 10
Sum :  None

In [28]:
import functools
L = list(range(11))
s = functools.reduce(lambda x,y:x+y,L)
print("Sum : ",s)

Sum :  55

In [34]:
import functools
L = list(range(1,7))
s = functools.reduce(lambda x,y:x*y,L)
print("Sum : ",s)

Sum :  720

In [3]:
print("hello")

hello

In [3]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(5))

120

In [9]:
def display():
    yield "Ganesh"
    yield "Patil"
    
gen = display()
print(type(gen))

print(next(gen))
print(next(gen))

<class 'generator'>
Ganesh
Patil

In [11]:
def display(n):
    i = 1
    for i in range(n):
        yield i
g = display(10)
for i in g:
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [12]:
def display(n):
    i = 1
    for i in range(n):
        yield i
L = list(display(10))
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
Exception Handling

In [1]:
help(ZeroDivisionError)

Help on class ZeroDivisionError in module builtins:

class ZeroDivisionError(ArithmeticError)
 |  Second argument to a division or modulo operation was zero.
 |
 |  Method resolution order:
 |      ZeroDivisionError
 |      ArithmeticError
 |      Exception
 |      BaseException
 |      object
 |
 |  Methods defined here:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseException:
 |
 |  __delattr__(self, name, /)
 |      Implement delattr(self, name).
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setattr__(self, name, value, /)
 |      Implement setattr(self, name, value).
 |
 |  __setstate__(...)
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  with_traceback(...)
 |      Exception.with_traceback(tb) --
 |      set self.__traceback__ to tb and return self.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from BaseException:
 |
 |  __cause__
 |      exception cause
 |
 |  __context__
 |      exception context
 |
 |  __dict__
 |
 |  __suppress_context__
 |
 |  __traceback__
 |
 |  args

In [2]:
a = 100
b = 0
c = a / b
print(c)

ZeroDivisionError: division by zero

In [3]:
try:
    a = 100
    b = 0
    c = a / b
    print(c)
except ZeroDivisionError as ze:
    print("aapli error : ",ze)
finally:
    print("Byee")

aapli error :  division by zero
Byee

In [4]:
a = 10
def display():
    a = a + 1
display()

UnboundLocalError: local variable 'a' referenced before assignment

In [6]:

def display():
    global a
    a = a + 1
a = 10
    
display()

In [7]:
a = 10
b = 0
try: 
    c = a/b
except Exception as e:
    print("Error occured as ",e)
else:
    print("There is no error")

Error occured as  division by zero

In [8]:
a = 10
b = 5
try: 
    c = a/b
except Exception as e:
    print("Error occured as ",e)
else:
    print("There is no error")

There is no error

In [9]:
a = 10
b = 5
try: 
    c = a/b
except Exception as e:
    print("Error occured as ",e)
else:
    print("There is no error")
finally:
    print("I will be get executed if there's error or no error")

There is no error
I will be get executed if there's error or no error

In [10]:
a = 10
b = 0
try: 
    c = a/b
except Exception as e:
    print("Error occured as ",e)
else:
    print("There is no error")
finally:
    print("I will be get executed if there's error or no error")

Error occured as  division by zero
I will be get executed if there's error or no error

In [9]:
a = (input("Enter no1 : "))
b = (input("Enter no1 : "))

try:
    c = int(a)/int(b)
except: 
    print("There is an error")
else:
    print("Division : ",c)
finally:
    print("Bye")

Enter no1 : 3
Enter no1 : 4
Division :  0.75
Bye

In [13]:
a = (input("Enter no1 : "))
b = (input("Enter no1 : "))

try:
    c = int(a)/int(b)
except Exception as e:
    print("There is an error : ",e)
else:
    print("Division : ",c)
finally:
    print("Bye")

Enter no1 : asdjf
Enter no1 : 3
There is an error :  invalid literal for int() with base 10: 'asdjf'
Bye

In [22]:
class RnoError(Exception):
    def __init__(self,msg):
        self.msg = msg
    
class PercentageError(Exception):
    def __init__(self,msg):
        self.msg = msg
        

a = 10
try:
    a = int("IND")
except RnoError as re:
    print("Roll no shoud be int",re)
else:
    print(a)

ValueError: invalid literal for int() with base 10: 'IND'

In [ ]:
ASSERTION

In [24]:
def sub(a,b):
    return a-b

a = int(input("Enter first no : "))
b = int(input("Enter second no : "))

assert sub(a,b) >= 0,"Height cannot be negative"
print("Difference bet two heights : ",sub(a,b))

Enter first no : 4
Enter second no : 2
Difference bet two heights :  2